<!-- main body -->

<body class="main">
  <div class="container jumb">
    <h1 class="my-likes-title">My Rabbit Hole
    </h1>

    <div class="likes-div">
      <h1 class="likes-sub-headings text-left">Favorite Artists</h1>
      <ul class="list-group" id="likelist-Artist">
      </ul>
    </div>
   
   <div class="likes-div">
      <h1 class="likes-sub-headings text-left">Playlist</h1>
      <ul class="list-group" id="likelist-Tracks">
      </ul>
    </div>
    
    <div class="likes-div">
      <h1 class="likes-sub-headings text-left">Books to Read</h1>
      <ul class="list-group" id="likelist-Books">
      </ul>
    </div>
  </div>
</body>