<!-- main body -->

<body class="main">
  <div class="container jumb">
    <h1 class="display-4 my-likes-title">My Likes
    </h1>

    <div class="likes-div">
      <h1 class="display-4">Liked Artists</h1>
      <ul class="list-group" id="likelist-Artist">
      </ul>
    </div>
   
   <div class="likes-div">
      <h1 class="display-4">Liked Tracks</h1>
      <ul class="list-group" id="likelist-Tracks">
      </ul>
    </div>
    
    <div class="likes-div">
      <h1 class="display-4">Liked Books</h1>
      <ul class="list-group" id="likelist-Books">
      </ul>
    </div>
  </div>
</body>