.main {
  margin: 0px;
  padding: 0px;
  background-color: #212221;
  text-align: center;
}

#navbarDropdown {
  color: thistle;
}

.main-img {
  width: 100%;
  max-height: 400px;
  filter: hue-rotate(60deg);
  filter: contrast(125%) brightness(100%);
}

.directions {
  color: white;
  text-align: center;
}

.likesjumb {
  background-color: white;
  text-align: center;
}

.drop-down {
  background-color:  #fff;
  color: #212221;
}
.navbartext {
  color: thistle;
}

.form-control {
  width: 500px;
}

#searchInput {
  background-color: #fff;
  color: #212221;
}

.enter-fields {
  margin: auto;
}

.navbar-brand {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}

.book-div {
  padding-right: 0;
    padding-top: 0;

}

.bodytext {
  position: relative;
  color: rgb(248, 230, 248);
  bottom: 50px;
  font-size: 20px;
  text-align: left;
}

h5 {
  margin: 25px;
}

#mainSearch {
  position: relative;
  top: 1px;
  background: rgb(59, 50, 59);
  color: rgb(248, 230, 248);
  border: 1px rgb(248, 230, 248);
  border-style: ridge;
}

.login {
  color: white;
}

#resultsMain {
  margin-top: 25px;
}

.badge-info {
  margin-left: 3px;
}
.badge-warning,
.badge-success {
  margin-left: 5px;
}

.bunny {
  width: 50px;
  height: 50px;
  left: 5px;
  position: relative;
}

.thistle-color {
  color: thistle;
}

.sign-up {
  position: relative;
}

.nav-size {
  font-size: 25px;
}

.login-left {
  float: left;
}
